.cart-page {
    padding: 30px !important;
    background-color: #f8f9fa;
    margin-top: 100px;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
   .cart-page {
    padding: 80px !important;
    background-color: #f8f9fa;
    padding-top: 0px;
    margin-bottom: 20px;
    min-height: 90vh;
} 
.cart-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 40px !important;
    margin-bottom: 15px;
    background-color: white;
}
}
@media (min-width: 991px) {
   .cart-page {
    padding: 30px !important;
    background-color: #f8f9fa;
    padding-top: 0px;
    margin-bottom: 20px;
    min-height: 90vh;
} 
}
@media (min-width: 1280px) {
   .cart-page {
    padding: 50px !important;
    background-color: #f8f9fa;
    padding-top: 0px;
    margin-bottom: 20px;
    min-height: 90vh;
} 
}
@media (min-width: 1550px) {
   .cart-page {
    padding: 80px !important;
    background-color: #f8f9fa;
    padding-top: 0px;
    margin-bottom: 20px;
    min-height: 90vh;
} 
}

.cart-page h2 {
    font-weight: bold;
}

.subtotal-section {
    background-color: white;
    border-radius: 5px;
}

/* .table {
    margin-top: 20px;
} */

.table img {
    max-width: 80px;
    border-radius: 8px;
}

.table p {
    margin: 0;
}

button {
    margin-left: 10px;
}

.subtotal-section p {
    font-size: 18px;
}

.subtotal-section button {
    width: 100%;
}

.d-flex {
    display: flex;
    align-items: center;
}

@media (min-width: 1030px) {
    .mobile-cart {
        display: none;
    }
}

@media (max-width: 1030px) {
    .desktop-cart {
        display: none;
    }
}



@media (max-with: 480px) {
    .col-sm-4 {
        max-width: 33% !important;
    }
    .col-sm-8 {
        max-width: 67% !important;
    }
}

/* .p-sm {
    padding: 50px !important;
} */

.txt-wrap {
        overflow-wrap: break-word !important;
}

.cart-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: white;
}