
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container-fluid {
  width: 100%;
}

@media (min-width: 1600px) {
  .Container {
    min-width: 1600px;
  }
}

@media (min-width: 991px) {
  .lg-d-flex {
    display: flex;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Add navbar responsive styles here */
@media (min-width: 1400px) {
.my-container-xxl, .my-container-xl, .my-container-lg, .my-container-md, .my-container-sm, .my-container {
    max-width: 1450px !important;
    margin: auto;
    display: flex;
}
}

.Thumbnail-list {
    width: 110px !important;
    height: 120px !important;
    object-fit: cover;
    border: 1px solid rgb(221, 221, 221);
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
}

@media (max-width:767px) {
.categories-container .card-body {
  padding: 8px 0px 0px 0px !important;
    height: 70px !important;
    flex: 1 1 auto;
}
}
@media (min-width:768px) {
.categories-container .card-body {
  padding: 16px;
    height: 80px !important;
    flex: 1 1 auto;
}
}
@media (min-width:820px) {
.categories-container .card-body {
  padding: 15px;
    height: 58px !important;
    flex: 1 1 auto;
}
}
@media (min-width:991px) {
.categories-container .card-body {
  padding: 15px;
    height: 80px !important;
    flex: 1 1 auto;
}
}
@media (min-width:1199px) {
.categories-container .card-body {
  padding: 15px;
    height: auto !important;
    flex: 1 1 auto;
}
}

[class*=btn-outline-] {
    --mdb-btn-padding-top: 0.5rem;
    --mdb-btn-padding-bottom: 0.375rem;
    --mdb-btn-padding-x: 1rem !important;
    --mdb-btn-border-width: 2px;
    --mdb-btn-line-height: 1.5;
    padding: var(--mdb-btn-padding-top) var(--mdb-btn-padding-x) var(--mdb-btn-padding-bottom);
    border-width: var(--mdb-btn-border-width);
    border-style: solid;
    box-shadow: none;
}

.cat-mt{
  top: 10%;
  position: relative;
}

.Toastify__toast-container:empty {
  display: none;
}

.bg-grey {
  background-color: #f8f9fa !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.Toastify__toast {
  transition: all 0.4s ease-in-out;
}
.Toastify__toast--exit {
  opacity: 0;
  transform: translateY(-10px);
}
